<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
    <h1>Flask Student App</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Student</a>
        <a href="/about">About</a>
    </nav>
</header>
    <h1>Add Student</h1>
    <form method="POST">
        Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        <input type="submit" value="Add">
    </form>
    <a href="/">Back to List</a>
</body>
</html>

